/Projeto/Criacao/nbproject/private/
/Projeto/Criacao/build/
/Projeto/Criacao/dist/
/pratica10/OlaCollactions/nbproject/private/
/pratica10/OlaCollactions/build/
/pratica10/OrdemDados/nbproject/private/
/pratica10/OrdemDados/build/
/pratica10/OrdemDados/dist/
/pratica10/arvore/nbproject/private/
/pratica10/arvore/build/
/pratica10/mapas/nbproject/private/
/pratica10/mapas/build/
/pratica10/BotasPerdidas/nbproject/private/
/pratica10/BotasPerdidas/build/